.board-details {
	padding: rem(20px) rem(30px);
	@include for-wide-layout {
		padding: rem(20px) rem(50px);
	}
	display: flex;
	flex-direction: column;
	gap: rem(25px);
	min-height: 100vh;
	min-height: 100dvh;
	overflow-y: auto;
	button {
		padding: rem(8px) rem(16px);
		margin: rem(2px);
		background-color: $btn-clr;
		color: #ffffff;
		border: none;
		border-radius: rem(4px);
		cursor: pointer;
		font-weight: 600;
		text-transform: uppercase;

		&:hover {
			background-color: $btn-hover-clr;
		}
	}
}
