.board-details {
	padding: 20px 30px;
	@include for-wide-layout {
		padding: 20px 50px;
	}
	display: flex;
	flex-direction: column;
	gap: 25px;
	min-height: 100vh;
	min-height: 100dvh;
	overflow-y: auto;
	button {
		padding: 8px 16px;
		margin: 2px;
		background-color: $btn-clr;
		color: #ffffff;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-weight: 600;
		text-transform: uppercase;

		&:hover {
			background-color: $btn-hover-clr;
		}
	}
}
