.notification-box {
	position: fixed;
	bottom: 15px;
	right: 30px;
	padding: 8px 15px;
	animation: slide-in-out 2.5s linear;
	transform: translateY(150%);
	opacity: 1;
	font-size: 0.875rem;
	background-color: rgba(255, 255, 255, 0.85);
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	border-radius: 0.25rem;
	z-index: 5;

	&.success {
		border-color: green;
		color: green;
	}

	&.failure {
		border-color: #ff7c7c;
		color: #f53737;
	}

	&.warning {
		border-color: #ffbf48;
		color: #ff9900;
	}
}
